[Core]
DisableLogging=false
Filter="%Severity% >= trace"

[Sinks.1]
Destination=Console
Format="%TimeStamp% %Severity(format=color,data=cc)%-%Channel%-%Message%"
Filter="%Tag% | %Severity% >= info"


[Sinks.moduleone]
Filter="%Severity% >= trace  & %Channel% = \"moduleone\""  #过滤规则
Destination=TextFile                #输出目标   TextFile文件    Console控制台           
FileName="../src/boostlogdemo/log/moduleone/moduleone_%Y-%m-%d.%H-%M-%s.log"  #生成文件名
Format="%TimeStamp% %Severity%-%Channel%-%Message%"   #日志记录格式
AutoFlush=true                     #自动刷新
RotationSize=1048576               #单个文件最大大小
RotationTimePoint="17:47:00"       #触发重新生成新文件的时间
MaxSize=10485760                   #此轮生成的文件总共在对应文件夹下的最大值
Target="../src/boostlogdemo/log/moduleone"     #目标文件夹
Asynchronous=true                              #异步刷新

[Sinks.moduletwo]
Filter="%Severity% >= trace & %Channel% = moduletwo "
Destination=TextFile
FileName="../src/boostlogdemo/log/moduletwo/moduletwo_%Y-%m-%d.%H-%M-%s.log"
Format="%TimeStamp% %Severity(format=color,data=cc)%-%Channel%-%Message%"
AutoFlush=true
RotationSize=1048576
MaxSize=10485760
Target="../src/boostlogdemo/log/moduletwo"
Asynchronous=true

